.detail-softwareimg {
    max-width: 100%;
    width: 100%;
    height: 70vh;
}
.btn-detailsoftware {
    background: radial-gradient(circle at top right, #EF5DAB, #A5A6F6);
    color: white;
    border: 1px solid transparent;
    width: 100%;
    cursor: pointer;
}
.btn-detailsoftware:hover {
    background: radial-gradient(circle at top right, #A5A6F6, #EF5DAB);
    color: white;
    border: 1px solid transparent;
    width: 100%;
}
.title-software {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .detail-softwareimg {
        height: 45vh;
    }
}

@media only screen and (max-width: 550px) {
    .detail-softwareimg {
        height: 35vh;
    }
}