.header-notice {
    background: radial-gradient(circle at top right, #EF5DAB, #A5A6F6);
    color: white;
}
.btn-gocheckout {
    background: radial-gradient(circle at top right, #EF5DAB, #A5A6F6);
    border: 1px solid #A5A6F6;
    color: white;
    width: 100%;
}
.plus {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 12px 8px 12px;
}
.minus {
    background-color: rgb(0, 129, 221);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 12px 8px 12px;
}