.header-profile {
    background: radial-gradient(circle at top right, #EF5DAB, #A5A6F6);
    color: white;
}
.card-profile {
    display: flex;
    justify-content: center;
    width: 35%;
}
.card-riwayatcenter {
    justify-content: center;
    align-items: center;
}
.isi {
    text-align: center;
}
.footer-profile {
    background: radial-gradient(circle at top right, #EF5DAB, #A5A6F6);
    color: white;
    height: 50px;
    text-align: center;
}
.atur-box {
    display: flex;
    justify-content: center;
    width: 100%;
}
.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-skill {
    border-radius: 50px;
    background: rgb(224, 224, 224);
    border: 1px solid transparent;
    color: #A5A6F6;
}
.btn-backprofile {
    width: 100%;
    background: radial-gradient(circle at top right, #EF5DAB, #A5A6F6);
    border: 1px solid transparent;
    margin-top: 50px;
}
.parent-imgprofile {
    display: flex;
    justify-content: center;
}
.note-text {
    font-style: italic;
    font-size: 13px;
    color: red;
}
.btn-saveriwayat {
    background: radial-gradient(circle at top right, #EF5DAB, #A5A6F6);
    margin-left: 10px;
}
.form-riwayat {
    width: 100%;
    height: 70px;
    border: 1px solid #A5A6F6;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .atur-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    .card-riwayatatas {
        width: 100%;
    }
}